{:active-route {:route-name "/from-us"
                :bg-img "home_page.jpg"
                :nav-hint ["From us"]
                :nav-hint-style {:color "black"}
                :widgets []
                :children []}
 :current-route ["/"]
 :current-navbar [0] 
 :logo-text ["Solari"]
 :all-widgets-data [{:widget-uid 001
                     :object-id "a" 
                     :widget-name "Standard text widget"
                     :inner-html ["<p> Hi there </p>"]}
                    {:widget-uid 002
                     :widget-name "Slider"
                     :object-id "basdfafoi"
                     :imgs [{:object-id "dsafoijlsaf" 
                             :url "http://placekitten.com/900/600"} 
                            {:object-id "asdfipwnelj" 
                             :url "http://placekitten.com/900/600"}]}
                    {:widget-uid 003
                     :object-id "b" 
                     :widget-name "Standard text widget"
                     :inner-html ["<p> Hi there </p>"]}
                    {:widget-uid 004
                     :object-id "c" 
                     :widget-name "Accordion"
                     :text [{:title {:widget-uid 001
                                     :object-id "d" 
                                     :widget-name "Standard text widget"
                                     :inner-html ["<p> Hi there </p>"]}
                             :sub {:widget-uid 001
                                   :object-id "e" 
                                   :widget-name "Standard text widget"
                                   :inner-html ["<p> Hi there </p>"]}}]}
                    {:widget-uid 005
                     :object-id "f" 
                     :widget-name "Standard text widget"
                     :inner-html ["<p> Hi there </p>"]}
                    {:widget-uid 006
                     :object-id "g" 
                     :widget-name "Standard image widget"
                     :img "http://placekitten.com/800/400"}
                    {:widget-uid 007
                     :object-id "h" 
                     :widget-name "Grid"
                     :imgs [{:id "entry-1"
                             :className "mega-entry"
                             :data-src "http://placekitten.com/300/301"
                             :data-width "320"
                             :data-height "400"}
                            {:id "entry-1-1"
                             :className "mega-entry"
                             :title "WE HAVE A LAUGH"
                             :text "Cue James in a bald cap, need I say more?"
                             :data-width "320"
                             :data-height "400"}]}]
 :edit-mode [false]
 :route-widget {:route-widget-id 0
                :main-view-style {:style {}} 
                :routes-map {:route-name "/"
                             :bg-img "home_page.jpg"
                             :nav-hint ["Architects"]
                             :nav-hint-style {:color "black"}
                             :widgets [{:widget-uid 001
                                        :object-id "a" 
                                        :widget-name "Standard text widget"
                                        :inner-html ["<p> Hi there lol</p>"]}]
                             :children []}}}
