{:widget-type :component
 :default-data {:widget-uid 007
                :widget-name "Right Nav"
                :imgs []}
 :components [(defmethod widget 8 [{:keys [lis] :as data} owner]
                 (reify
                   om/IInitState
                   (init-state [_]
                     {:uuid (random-uuid)
                      :li (fn [{:keys [route label active?] :as data} owner]
                            (reify
                              om/IRenderState
                              (render-state [_ {:keys [routes-map] :as state}]
                                (dom/li #js {:className "right-nav-li"
                                             :onClick (partial js-link routes-map route) }
                                        (dom/div #js {:className (when active? "active-text")}
                                                 label)))))})

                   om/IRenderState
                   (render-state [_ {:keys [uuid li] :as state}]
                     (let [routes-map-obs (om/observe owner (routes-map))]
                       (apply dom/ul #js {:className "right-nav"}
                              (om/build-all li lis {:state {:routes-map routes-map-obs}}))))))]}
